<%= turbo_frame_tag "wizard" do %>
  <%= form_with(model: post, url: next_step_new_post_path(step: 3)) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %>
          prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :title %>
    <%= form.hidden_field :published_at %>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.submit "Next step" %>
      <%= form.submit "Previous step", formaction: previous_step_new_post_path(step: 1) %>
    </div>
  <% end %>
<% end %>
